@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply antialiased;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-primary-black text-off-white font-sans;
  }

  input:focus,
  textarea:focus,
  select:focus {
    @apply outline-none ring-2 ring-primary-orange ring-opacity-50;
  }

  ::selection {
    @apply bg-primary-orange text-primary-black;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-near-black;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-border-grey hover:bg-medium-grey rounded-full;
  }
}
